* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	width: 552px;
	height: 610px;
	margin : 20px auto;
	text-align: center;
}

#topNum {
	width: 100%;
	height: 50px;
}

#topNum > div {
	width: 50px;
	height: 50px;
	line-height: 50px;
	float: left;
}

#leftNum {
	width: 50px;
	height: 500px;
	float: left;
}

#leftNum > div {
	width: 50px;
	height: 50px;
	line-height: 60px;
}

#chessBox {
	border: 1px solid black;
	float: right;
	width: 502px;
	height: 502px;
	margin-bottom: 20px;
}

#chessBox > div {
	width: 502px;
	height: 50px;
}

#chessBox > div > div {
	width: 50px;
	height: 50px;
	line-height: 50px;
	float: left;
	border: 1px solid #f2f2f2;
	transition: 1s;
	-weblit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
}

#box {
	transition: 1s;
	-weblit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;
	-ms-transition: 1s;
}

.head {
	width: 100%;
	height: 10px;
	background-color: blue;
}

.box {
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
}

.command {
	clear: both;
}

